/* The Yanone-Kaffeesatz font is Yanone's http://www.yanone.de/ */
@font-face {
   font-family: YanoneKaffeesatz;
   src: url("fonts/YanoneKaffeesatz-Regular.ttf") format("truetype");
}
@font-face {
   font-family: YanoneKaffeesatz;
   src: url("fonts/YanoneKaffeesatz-Bold.ttf") format("truetype");
   font-weight: bold;
}

/* Overall Style */
.slide {
  background: #fff;
  color: #000;
}

#preso {
  font-family: YanoneKaffeesatz, Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 8em;
}

h2 {
  font-size: 6em;
}

code {
  font-size: 0.65em;
}

.content > p.huge {
  font-size: 18em;
  line-height: 1em;
}

.content > p.bigger {
  font-size: 12em;
  line-height: 0.8em;
}

/* full-page-image */

.full-page-image img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.full-page-image p:not(:first-child),
.full-page-image h1,
.full-page-image h2 {
  z-index: 1;
  background-color:rgba(255,255,255,0.5);
  background-position: top left;
}

.full-page-image h1 {
  position: absolute;
  top: 0em;
  left: 0px;
  width: 100%;
  padding: 0.3em 0 0.2em 0;
  text-transform: uppercase;
}

.full-page-image h2 {
  position: absolute;
  top: 4em;
  left: 0px;
  width: 100%;
  padding: 0.1em 0 0.3em 0;
}

.full-page-image.clear-header h1, .full-page-image.clear-header h2 {
  background-color:rgba(255,255,255,0);
}